<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/admin_style.css' />
</head>

<body>
  <h1>Admin page</h1>
  <nav>
    <ul>
      <li><a href="/adin">Home</a></li>
      <li><a href="/product">Product</a></li>
      <li><a href="/category">Category</a></li>
    </ul>
  </nav>
  {{{body}}}
</body>

</html>